.rightbar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    /* background-color: #F0F2F5; */
}

.rightbarTop {
    margin-top: 20px;
}


.rightbarTopDev {
    margin-top: 10px;
}

.rightbarDevImg {
    width: 100px;
    border-radius: 10px;
}

.rightbarTopName {
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}
.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.sidebarFriendOnline {
    position: relative;
}
.sidebarFriendName {
    font-weight: 500;
    font-size: 15px;
}
.sidebarFriendOnlineLeb {
    background-color: limegreen;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    bottom: 0;
    left: 24px;
}
