.selectpost {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectpostImg {
    max-height: 400px;
    width: 90%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}
.selectpostContent {
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectpostIcon {
    color: white;
    flex-shrink: 0;
    width: 70px !important;
    height: 70px !important;
    cursor: pointer;
}

.disableBtnPrev {
    display: none;
}
.disableBtnNext {
    display: none;
}

