.profile {

}

.profileWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.profileContent {
    flex: 8;
}
.a {
    flex: 2;
}

.profileTop {
    position: relative;
    text-align: center;
}

.profileCoverImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.profileAvatarImg {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    bottom: -30px;
    left: 44%;
}
.profileUserInfo {
    margin-top: 30px;
    text-align: center;
}
.profileUsername {
    font-weight: 700;
    font-size: 32;
    margin-bottom: 0;
}

.profileUserDesc {
    font-size: 17px;
    color: #65676b;
    /* line-height: 20px; */
}

.profileCenter {}

.profileHr {}

.profileCenterContent {
    display: flex;
}

.profileCenterIntro {
    flex:4;
    height: calc(100vh - 100px);
    /* overflow-y: scroll; */
    position: sticky;
    top: 70px;
}

.profileCenterFeed {
    flex: 8;
}

.profileIntroTitle {
    font-size: 20px;
    font-weight: 500;
}

.profileIntroList {
    padding: 0px;
    margin: 0;
}

.profileIntroItem {
    padding: 8px 0;
}

.profileIntroIcon {
    margin-right: 5px;
}

.profileIntroDes {
    text-decoration: none;
}